body {
    background-color: #f0f8ff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

h1 {
    color: darkred;
    text-align: center;
    margin-bottom: 30px;
}

section {
    width: 90%;
}

section h2{
    text-align: center;
}

h2 {
    color: navy;
    margin-top: 20px;
    margin-bottom: 10px;
}

section {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

li {
    text-align: center;
    color: black;
    margin-bottom: 6px;
}

.flag {
    display: block;
    margin: 20px auto;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

section.cv-section h1 {
    text-align: center;
    margin-top: 0;
   




}

section.cv-section h2 {
    text-align: center;
    margin-top: 0;
}

.cv-section {
    background-color: #f9f9f9; /* light gray */
    padding: 15px;
    margin: 20px auto;
    max-width: 800px;
}

.cv-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

/* Each box stacked vertically */
.cv-box {
    border: 1px solid #000;
    background: lightgray;
    padding: 20px;
    margin-bottom: 15px; /* space between boxes */
}

.cv-box h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 16px;
    color: black;
}

.future-section {
    background-color: #f9f9f9; /* light background */
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.future-section h2 {
    text-align: center;
    color: darkred;
    margin-bottom: 20px;
}

.future-box {
    border: 1px solid #000;
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
}

.future-box h3 {
    text-align: center;
    margin-top: 0;
    color: darkblue;
}

.future-box a {
    color: darkgreen;
    text-decoration: none;
}

.future-box a:hover {
    text-decoration: underline;
}