body {
    background-color: ffffff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: darkred;
}

h2 {
    color: navy;
}

p {
    color: black;
    font-size: 18px;
}

li {
    color: green;
}

.two-column-layout {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.flag{
    display: block;
    margin: 20px auto;
    max-width: 300px;
    height: auto;
}